---
import { getAllUserData } from '../data';
import Layout from '../layouts/Layout.astro';

const data = await getAllUserData()
---

<Layout title="Variant Hacktoberfest Leaderboard.">
	<main class="p-10">
		<h1>Variant Hacktoberfest Leaderboard</h1>

		<div class="my-8">
			<h2>Current leader</h2>
			<div>{data[0].name} with {data[0].contributionsCollection.totalRepositoryContributions} contributions</div>
		</div>

		<h2>All variants ({data.length})</h1>
		{data.map((contribution, i) => {
			return (
				<article class="mt-4">
					<h2>#{i+1} Name: {contribution.name} (Total: {contribution.contributionsCollection.totalRepositoryContributions})</h2>
						<dl class="flex w-full gap-4 ml-8">
							<div class="flex gap-2">
								<dt>Pull Requests:</dt>
								<dd>{contribution.contributionsCollection.totalPullRequestContributions}</dd>
							</div>
							<div class="flex gap-2">
								<dt>Issues:</dt>
								<dd>{contribution.contributionsCollection.totalIssueContributions}</dd>
							</div>
						</dl>
				</article>
			);
		})}
	</main>
</Layout>

